.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    min-width: 100% !important;
}

.product-component {
    width: 100% !important;
    cursor: pointer;
}